---
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
ColumnLimit: '120'
IndentWidth: '4'
PointerAlignment: Left
ReflowComments: true
TabWidth: '4'

...
